<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="green">
    <a href="/">home</a>
    <a href="/insert">insert</a>
    <a href="/display">display</a>
    <a href="/update">update</a>
    <a href="/search">search</a>
    <hr bgcolor="red">
<h1>welcome to display page</h1>
</body>
</html>